/*内容模块*/
.module
{
    margin: 0px;
    /*padding: 0px 10px 0 0;*/
    padding: 0 0;
	/*background-image:url(../../images/jiange.png);*/
    background-position:bottom center;
    background-repeat: repeat-x;
}
#moduletemplate
{
    display: none;
}
.module .category    /*改*/
{
    font-size: 16px;
    line-height: 33px;
    height: 33px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding:10px 0 0 0px;
    /*margin:5px 0 0 0;*/
    /*border-bottom:#4F595F solid 1px;*/
}
.module .content
{
    color: #fff;
    font-size: 16px;
    /*padding:10px 0 10px 10px;*/
    padding:10px 0;
}
.timer strong{
    color: #333;
    font-size: 15px;
}
.jiange
{    
    width: 100%;
	background-color:#CCC;
	height:10px;	
}
.module .content .title
{

    font-size:16px;
    line-height: 30px;
    display: inline-block;
    color: #2f2f2f;
    font-weight: bold;
}
.module .header{
    font-weight: bold;
    /*color: #0055b7;*/
    font-size: 16px;
	border-bottom: 0px solid #e6e6e6;
}
.module .content .summary
{
    font-size: 16px;
    line-height: 22px;
    display: inline-block;
    padding-top:10px;
}









.module .content .footer
{
    font-size: 15px;
    color: #858C9E;
    line-height: 26px;
    padding: 0;
    margin: 0;
}
.module .content .footer .date
{
    font-size: 10px;
}
.ref
{
    font-size: 13px;
    color: #858C9E;
    height: 30px;
}
.ref .comname1{
    width: 75%;
    float: left;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 11px;
    font-weight: normal;
    padding-top: 10px;
}
.ref .comname2{
    width: 25%;
    float: left;
    text-align: right;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 11px;
    font-weight: normal;
    padding-top: 10px;
}
